<!DOCTYPE html>
<html lang="en">
<head>
    <title>View events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Create event</a>
            <a class="p-2 text-dark fw-bold" href="/view_events">View events</a>
            <a class="p-2 text-dark" href="/about">About</a>
        </nav>
    </div>
    <div class="col-lg-8 mx-auto p-3 py-md-3">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <h2 class="font-weight-normal">View events</h2>
        </header>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Today's events:</span>
            <span class="badge bg-primary rounded-pill">{{num_events}}</span>
        </h4>
        <ul class="list-group mb-3">
            {% for event in event_list %}
            <li class="list-group-item justify-content-between lh-sm">
                <div class="row g-3">
                    <div class="col-sm-8">
                        <h6 class="my-0">{{event[1]}}</h6>
                        <small class="text-muted">{{event[2]}}</small>
                    </div>
                    <div class="col-sm-3">
                        <a class="btn btn-outline-primary" href="{{event[3]}}" role="button">View on google calendar</a>
                    </div>
                    <div class="col-sm-1">
                        <form action="/edit" method="get">
                            <input type="hidden" name="event_id" value="{{event[0]}}">
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; 2022-2022</small>
            </div>
            <div class="col-6 col-md">
                <h5>Contact</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Email: *make</a></li>
                    <li><a class="text-muted" href="#">new email just</a></li>
                    <li><a class="text-muted" href="#">for this and</a></li>
                    <li><a class="text-muted" href="#">put it here.</a></li>
                    <li><a class="text-muted" href="#">Github: *insert</a></li>
                    <li><a class="text-muted" href="#">Something: ?</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>
